body {
    background-color: #3b3b3b;
}

main {
    height: 100vh
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

hr{
    transform: rotate(90deg);
   }

/* ::-webkit-scrollbar {
    width: 0;  Remove scrollbar space
    background: transparent;  Optional: just make scrollbar invisible
}
Optional: show position indicator in red
::-webkit-scrollbar-thumb {
    background: #FF0000;
} */
