body {
    background-color: #3b3b3b;
}

main {
    height: 100vh
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* hr{
    transform: rotate(90deg);
   } */

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.material-icons {
    font-size: inherit;
    line-height: inherit;
    vertical-align: bottom;
  }

  .text-break {
    /* text-overflow: ellipsis;
    overflow: hidden; */
    white-space: nowrap;
    max-width: 25ch;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
}
