body {
    background-color: #3b3b3b;
}

main {
    height: 100vh
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

hr {
    transform: rotate(90deg);
}
