{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
<div class="d-flex align-items-center">
    <div class="p-2 fs-3 me-3">
        Hi, my name is Ihotu Ifenne and i created this microblogging website as my project for the course cs50x.
        While designing i took a lot of inspiration from tumblr and reddit and basically tried to make a sort of baby of the both of them.
        This has been a huge labour of love and i am very proud of how everything turned out. Have a kitty ;-)
    </div>
    <div>
        <img src="../static/assets/cat.jpg" style="clip-path: circle();" width="400" height="400"/>
    </div>
</div>
{% endblock %}
