{% extends "layout.html" %}

{% block title %}
Post blogs and join message boards
{% endblock %}

{% block main %}

<div class="row mt-5 row-cols-lg-4 g-2">
    {% for group in groups %}
    <div class="col">
        <div class=" d-flex flex-row card card-body text-bg-dark h-100 hover">
            <img src='{{ group["photo"] }}' class="img-fluid rounded-start me-3" style="clip-path: circle()" height="50"
                width="50">
            <!-- <div class="d-flex flex-column text-break text-start"> -->
            <!-- <div> -->
            <!-- <a class="btn btn-sm btn-dark rounded-pill" href="/feed/group/{{group['name']}}">
                    <h6 class="card-title text-wrap">{{ group["name"] }}</h6>
                </a> -->

            <h6 class="text-start">
                <a class="text-light" href="/feed/group/{{group['name']}}">
                    <p class="text-break mb-auto">{{ group["name"] }}</p>
                </a><br>
                Members: {{ group["members"] }}<br>Posts: {{ group["posts"] }}
            </h6>
            <!-- </div> -->
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
