{% extends "layout.html" %}

{% block title %}
    Transaction Histpry
{% endblock %}

{% block main %}
    <table class="table table-success table-hover">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Transaction</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr {% for data in history %} >
                <td>{{ data["symbol"] | upper }}</td>
                <td style="color: {{ data['color']}};">{{ data["shares"] }}</td>
                <td style="color: {{ data['color']}};">{{ data["transaction"] }}</td>
                <td>{{ data["price"] | usd}}</td>
                <td>{{ data["date"] }}</td>
            </tr {% endfor %}>
        </tbody>
    </table>
{% endblock %}

<!-- CREATE TABLE users_shares_history(
   user_shares_id           INT NOT NULL,
   symbol         VARCHAR(255)      NOT NULL,
   shares         INT      NOT NULL,
   action VARCHAR(255) check("action" in ('buy', 'sell')) NOT NULL,
   creation_date DATE DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE users_shares(
   id INTEGER PRIMARY KEY,
   user_id           INT NOT NULL,
   symbol         VARCHAR(255)      NOT NULL,
   shares         INT      NOT NULL,
   creation_date DATE DEFAULT CURRENT_TIMESTAMP,
   unique(user_id, symbol)
);-->
