{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="card bg-dark">
    <div class="card-body" id="posts">
        {% for post in posts %}
        <div class="card mt-5 text-bg-primary">
        <div class="card-header text-start">
            <a href=""><img src='{{ post["photo"]}}' style="clip-path: circle();" width="20" height="20">
            {{ post["name"] }}</a>
        </div>
        <div class="card-body overflow-hidden">
            {{ post["post"] }}
        </div>
        <div class="card-footer text-end">
            {{ post["creation_time"] }}
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
