{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<!-- <div class="card"> -->
    <div class="card-body mt-5 mb-5" id="posts">
        {% for post in posts %}
        <div class="card mb-1 text-bg-dark">
        <div class="card-header text-start">
            <a class="btn text-light btn-lg" href=""><img src='{{ post["photo"]}}' style="clip-path: circle();" width="40" height="40">
            {{ post["name"] }}</a>
        </div>
        <div class="card-body overflow-hidden">
            {{ post["post"] }}
        </div>
        <div class="card-footer text-end">
            {{ post["creation_time"] }}
        </div>
        </div>
        {% endfor %}
    </div>
    <div></div>
<!-- </div> -->
{% endblock %}
