{% extends "layout.html" %}

{% block title %}
Post blogs and join message boards
{% endblock %}

{% block main %}
{% if header %}
<div class="card">
    <img src='{{ header["photo"] }}' class="card-img-top" style="clip-path: circle();" />
    <h5 class="card-title">{{ header["name"] }}</h5>
</div>
{% endif %}
<div class="card-body mt-5" id="posts">
    {% for post in posts %}
    <div class="card mb-1 text-bg-dark hover">
        <div class="card-header text-start">
            <a class="btn btn-sm btn-dark rounded-pill"
                href="/{{'group/'+post.group_name if post.group_name else 'user/'+post.user_name}}"><img
                    src='{{ post["photo"]}}' style="clip-path: circle();" width="25" height="25" />
                {{ post["user_name"] if not post["group_name"] else post["group_name"] }}
            </a>
        </div>
        <div class="card-body overflow-hidden text-start">
            {{ post["post"] }}
        </div>
        <div class="card-footer text-end">
            {{ post["creation_time"] }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
