{% extends "layout.html" %}

{% block title %}
Logged In {{ name }}
{% endblock %}

{% block main %}
<div class="card w-100 h-100 text-center bg-dark">
  <div class="card-header">
    <ul class="nav nav-pills" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
          role="tab" aria-controls="home-tab-pane" aria-selected="true" onClick="show('message')">Posts</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#groups-tab-pane" type="button"
          role="tab" aria-controls="profile-tab-pane" aria-selected="false" onClick="show('message')">Groups</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
          role="tab" aria-controls="contact-tab-pane" aria-selected="false" onClick="hide('message')">Profile</button>
      </li>
    </ul>
  </div>
  <div class="card-body overflow-auto">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active mb-3" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
        tabindex="0">
        {% for post in posts %}
        <div class="card mb-3 text-bg-primary">
          <div class="card-body">
            {{ post["post"] }}
          </div>
          <div class="card-footer">
            {{ post["creation_time"] }}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="groups-tab-pane" role="tabpanel" aria-labelledby="groups-tab" tabindex="0">
        <div class="card-body text-light">
          <div class="row">
            <div class="col-md-3">
              <h3>New group</h3>
              <button class="btn btn-outline-primary btn-lg material-symbols-outlined mt-3">chat_add_on</button>
            </div>
            <div class="vr" style="color: black"></div>
            <div class="col-md-8">
              <p>Messages</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="center">
          <div class="col-3 mt-5">
            <div class="card-body text-center text-bg-primary mb-3">
              <h3>0</h3>
              <p>Posts</p>
            </div>
            <div class="card-body text-center text-bg-primary">
              <h3>0</h3>
              <p>Groups</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer" id="message">
    <div class="input-group input-group-md mb-3">
      <input autocomplete="off" class="form-control form-control-sm" name="message" placeholder="Message..." type="text">
      <button class="material-symbols-outlined btn btn-outline-primary" type="submit">send</button>
    </div>
  </div>
</div>
{% endblock %}
