{% extends "layout.html" %}

{% block title %}
Welcome {{session["user_name"]}}
{% endblock %}

{% block main %}
    <div class="card-body mt-5" id="posts">
        {% for post in posts %}
        <div class="card mb-1 text-bg-dark hover">
        <div class="card-header text-start">
          {% if post["group_name"] %}
            <a class="btn text-light btn-sm" href=""><img src='{{ post["photo"]}}' style="clip-path: circle();" width="25" height="25">
              {{ post["group_name"] }}</a>
          {& elif post["user_name"] %}
          <a class="btn text-light btn-sm" href=""><img src='{{ post["photo"]}}' style="clip-path: circle();" width="25" height="25">
            {{ post["user_name"] }}</a>
          {% endif %}
        </div>
        <div class="card-body overflow-hidden text-start">
            {{ post["post"] }}
        </div>
        <div class="card-footer text-end">
            {{ post["creation_time"] }}
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
