{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="my-3" id="login-response"></div>
<form onsubmit="login(event, '/login')" id="login_form">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username"
            type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <p class="text-light">Don't have an account? <a href="/register">Sign Up</a></p>
    <button class="btn btn-primary" type="submit" id="submit-form"><span class="spinner-border spinner-border-sm hide me-1"
            role="status" aria-hidden="true" id="spinner"></span>Log In</button>
</form>
{% endblock %}
