{% extends "layout.html" %}

{% block title %}
Post blogs and join message boards
{% endblock %}

{% block main %}
<div class="d-flex flex-column text-bg-dark h-auto">
        <div class="d-flex flex-row p-2">
            <span class="px-1 me-2">
                <img src='{{ post["photo"] }}' style="clip-path: circle()" class="object-fit-cover"
            height="50" width="50"></span>

            <div class="text-start lh-sm mb-auto text-truncate me-2">
                <p class="fs-5">{{ post["group_name"] if post["group_name"] else post["user_name"] }}</p><p class="fs-6">{{ post["user_name"] }}</p>
            </div>
            <p class="text-start lh-sm mb-auto text-truncate me-2">{{ post["creation_time"] | time_ago}}</p>
    </div>
    <div class="p-2">{{ post["post"]}}</div>
    <form action="" method="post"><input placeholder="Add Comment" class="form-control"></form>
</div>
{% endblock %}
