{% extends "layout.html" %}

{% block title %}
Post blogs and join message boards
{% endblock %}

{% block main %}
<div class="d-flex flex-column">
    <div class="p-2 mb-3">
        <div class=" d-flex flex-row card card-body text-bg-dark h-auto">
            <span class="px-1 flex-shrink-0">
                <img src='{{ photo }}' style="clip-path: circle()" class="object-fit-cover"
            height="50" width="50"></span>

            <p class="text-start lh-sm mb-auto text-truncate flex-grow-1">
                {{ name }}<br>{{ creator }}
            </p>
            <p class="text-start lh-sm mb-auto text-truncate flex-grow-1">{{ post["creation_date"] | time_ago}}</p>
        </div>
    </div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
</div>
{% endblock %}
