{% extends "layout.html" %}

{% block title %}
Post blogs and join message boards
{% endblock %}

{% block main %}
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
</ul>


<div class="row row-cols-lg-4 rol-cols-sm-2 g-2 mt-5" id="posts">
    {% for post in posts %}{% if post["type"] != 'comment' %}
    <div class="col">
        <div class="card text-bg-dark hover">
            <div class="card-header text-start">
                <a class="btn btn-sm btn-dark rounded-pill"
                    href="/feed/{{'group/'+post.group_name if post.group_name else 'user/'+post.user_name}}"><img
                        src='{{ post["photo"]}}' style="clip-path: circle();" width="25" height="25" />
                    {{ post["user_name"] if not post["group_name"] else post["group_name"] }}
                </a>
            </div>
            <a href="/post/{{post['group_name'] if post['group_name'] else post['user_name']}}?id={{post.id}}" class="text-light text-decoration-none">
                <div class="card-body text-truncate text-start">
                {{ post["post"] }}
            </div></a>
            <div class="card-footer text-end" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ post['creation_time'] | time}}" >
                {{ post["creation_time"] | date }}
            </div>
        </div>
    </div>
    {% endif %}{% endfor %}
</div>
{% endblock %}
