{% extends "layout.html" %}

{% block title %}
Post blogs and join message boards
{% endblock %}

{% block main %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="posts-tab" data-bs-toggle="pill" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">Posts</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="comments-tab" data-bs-toggle="pill" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">Comments</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
</div>


<div class="row row-cols-lg-4 rol-cols-sm-2 g-2 mt-5" id="posts">
    {% for post in posts %}{% if post["type"] != 'comment' %}
    <div class="col">
        <div class="card text-bg-dark hover">
            <div class="card-header text-start">
                <a class="btn btn-sm btn-dark rounded-pill"
                    href="/feed/{{'group/'+post.group_name if post.group_name else 'user/'+post.user_name}}"><img
                        src='{{ post["photo"]}}' style="clip-path: circle();" width="25" height="25" />
                    {{ post["user_name"] if not post["group_name"] else post["group_name"] }}
                </a>
            </div>
            <a href="/post/{{post['group_name'] if post['group_name'] else post['user_name']}}?id={{post.id}}" class="text-light text-decoration-none">
                <div class="card-body text-truncate text-start">
                {{ post["post"] }}
            </div></a>
            <div class="card-footer text-end" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ post['creation_time'] | time}}" >
                {{ post["creation_time"] | date }}
            </div>
        </div>
    </div>
    {% endif %}{% endfor %}
</div>
{% endblock %}
