body {
    /* background-image: radial-gradient(LightCyan, Cyan, DarkCyan); */
    background-color: black;
    /* color: white; */
}

section {
    height: 80vh;
    color: white;
}

#section1 {
    /* border: 2px solid white; */
    background-color: #0000b3;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin: auto;
        /* border: 1px solid white; */
        width: 50%;
        text-align: center;
        padding: 10px;
    }

    button {
        background-color: black;
        color: white;
    }
}

#section2 {
    .row {
        height: 100%;
    }
}

.half1, .half2 {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
