.test {
    height: 400px;
    width: 1%;
    /* margin: 25px; */
    background-color: black;
  }

div {
    margin: 25px;
  }

div.col:hover {
    background-color: DarkTurquoise;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

div.container-fluid {
    background-color: Black
    text-color: White
}

body {
    background-image: radial-gradient(LightCyan, Cyan, DarkCyan);
    margin: 60px 55px;
}

/* h1 {
    background-color: LightCoral
} */