.test {
    height: 400px;
    width: 1%;
    /* margin: 25px; */
    background-color: black;
  }

div {
    margin: 25px;
  }

body {
    background-image: linear-gradient(to bottom right, LightCyan, Azure, AntiqueWhite);
    margin: 60px 55px;
}