{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text" value="NFLX">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" value="2">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
<!-- CREATE TABLE users_shares_history(
   user_shares_id           INT NOT NULL,
   symbol         VARCHAR(255)      NOT NULL,
   shares         INT      NOT NULL,
   action VARCHAR(255) check("action" in ('buy', 'sell')) NOT ,
   creation_date DATE DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE users_shares(
   id INTEGER PRIMARY KEY,
   user_id           INT NOT NULL,
   symbol         VARCHAR(255)      NOT NULL,
   shares         INT      NOT NULL,
   creation_date DATE DEFAULT CURRENT_TIMESTAMP,
   unique(user_id, symbol)
);-->
