{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-success table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col">Buy/Sell</th>
            </tr>
        </thead>
        <tbody>
            <tr {% for data in user_data %} >
                <th scope="row">{{ loop.index }}</th>
                <td>{{ data["symbol"] | upper }}</td>
                <td>{{ data["shares"] }}</td>
                <td>{{ data["price"] | usd}}</td>
                <td>{{ data["worth"] | usd }}</td>
                <td>
                    <form action="/buy_or_sell" method="post" class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <input class="form-control form-control-sm" name="shares" placeholder="Amount" type="number">
                            <input class="form-control form-control-sm" name="symbol" type="text" value="{{ data['symbol']}}">
                        </div>
                        <div class="col-4"><button class="btn btn-primary btm-sm" type="submit">
                            <span class="material-symbols-outlined">check</span>
                        </button></div>
                    </form>
                </td>
            </tr {% endfor %}>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" class="text-end">Cash</th>
                <td>{{ cash | usd }}</td>
                <td></td>
            </tr>
            <tr>
                <th colspan="4" class="text-end">TOTAL</th>
                <td>{{ total | usd }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}

<!-- CREATE TABLE users_shares_history(
   user_shares_id           INT NOT NULL,
   symbol         VARCHAR(255)      NOT NULL,
   shares         INT      NOT NULL,
   action VARCHAR(255) check("action" in ('buy', 'sell')) NOT NULL,
   creation_date DATE DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE users_shares(
   id INTEGER PRIMARY KEY,
   user_id           INT NOT NULL,
   symbol         VARCHAR(255)      NOT NULL,
   shares         INT      NOT NULL,
   creation_date DATE DEFAULT CURRENT_TIMESTAMP,
   unique(user_id, symbol)
);-->
