/* body {
    background-color: #3b3b3b;
} */

/* main {
    height: 100vh
} */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.material-icons {
    font-size: inherit;
    line-height: inherit;
    vertical-align: bottom;
}

.text-break {
    /* text-overflow: ellipsis;
    overflow: hidden; */
    white-space: nowrap;
    max-width: 25ch;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.hover:hover {
    box-shadow: inset 5000px 5000px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.hover a:hover {
    text-decoration: underline;
}

a img {
    float: left;
    object-fit: cover;
}

.img-hover:hover img {
    opacity: 0.7;

}

.img-hover:hover .opacity {
    opacity: 1;
}


.opacity {
    opacity: 0;
}

.cursor {
    cursor: pointer;
}

.text-bg-dark ::placeholder {
    color: white
}

.text-break {
    word-break: break-word
}

.truncate {
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
