{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
<div class="d-flex">
    <div class="p-2">
    Hi my name is Ihotu Ifenne and i created this microblogging website as my project for the course cs50x.
    While designing i took a lot of inspiration from tumblr and reddit and basically tried to make a sort of baby of the bith of them.
    This has been a huge labour of love and i am very proud of how everything turned out.
</div>
<div>
    <img src="../static/assets/cat.jpg"/>
</div>
</div>
{% endblock %}
