{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="card-body p-5 col-md-4 mx-auto bg-dark mt-5 rounded">
    <div class="card-title text-light mb-3 text-start fs-3">Log In</div>
    <form onsubmit="login(event, '/login')" id="login_form">
        <div class="form-floating mb-3">
            <input autocomplete="off" autofocus class="form-control form-control-lg" name="username" id="username" placeholder="Username"
                type="text">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control form-control-lg" name="password" id="password" placeholder="Password" type="password">
            <label for="password">Password</label>
        </div>
        <div class="my-3" id="login-response"></div>
        <p class="text-light">Don't have an account? <a class="icon-link icon-link-hover" href="/register">Sign Up</a></p>
        <button class="btn btn-primary" type="submit" id="submit-form"><span class="spinner-border spinner-border-sm hide me-1"
                role="status" aria-hidden="true" id="spinner"></span>Log In</button>
    </form>
</div>
{% endblock %}
