{% extends "layout.html" %}

{% block title %}
Post blogs and join message boards
{% endblock %}

{% block main %}
<div class="d-flex flex-column text-bg-dark h-auto p-3 mt-5 text-start">
        <div class="d-flex flex-row p-2">
            <span class="px-1 me-2">
                <img src='{{ post["photo"] }}' style="clip-path: circle()" class="object-fit-cover"
            height="50" width="50"></span>

            <div class="text-start lh-sm mb-auto text-break me-2">
                <a href="/feed/{{ post['created_by'] }}">
                    <p class="fs-5 mb-auto text-light text-wrap">{{ post["created_by"] }}</p></a>
            </div>
            <li class="ms-3 text-end" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ post['creation_time'] | time }}">{{ post["creation_time"] | date }}</li>
    </div>
    <div class="p-2 mt-3">{{ post["post"]}}</div>
    <div class="d-flex p-2 justify-content-end align-items-center mb-3">
        <button class="btn btn-sm btn-outline-success material-symbols-outlined fs-1" onClick="vote_on_post(1)">
            arrow_circle_up</button>
        <p class="mb-0 fs-3 mx-2">{{ post["votes"]}}</p>
        <button class="btn btn-sm btn-outline-danger material-symbols-outlined fs-1" onClick="vote_on_post(-1)">
            arrow_circle_down</button>
    </div>
    <div class="d-flex p-2 justify-content-end align-items-center mb-3 hide"></div>
    <div class="fs-3 mx-auto">Comments({{post["comments_count"]}})</div>
    <div class="py-3 mx-auto col-md-7 my-3" id="comment-button" onClick="show('comment-form'); hide('comment-button')">
        <input placeholder="Add Comment" class="form-control text-bg-dark" name="add-comment-placeholder">
    </div>
    <form onSubmit="create_post(event, 'comment_post','{{post.id}}')"  class="py-3 mx-auto w-75 hide" id="comment-form">
        <div class="position-relative mb-3">
            <textarea class="form-control text-bg-dark h-100" name="post_body" rows="5" autofocus
                placeholder="Write your comment here"></textarea>
            <div class="m-2 position-absolute bottom-0 end-0">
                <button class="btn btn-small btn-secondary" type="button" onClick="hide('comment-form');  show('comment-button')">Cancel</button>
                <button class="btn btn-primary" type="submit" id="create-comment-button" name="submit_button">Comment</button>
                <button class="btn btn-outline-primary spinner-border hide disabled" role="status"
                    id="create-comment-loader" name="loader_button">
                    <span class="visually-hidden">Loading...</span>
                </button>
            </div>
        </div>
        <div id="create-comment-response" name="response"></div>
    </form>
    <div class="mx-auto col-md-7">
        {% for comment in comments %}
        <div class="p-3 text-bg-dark border mb-3">
            <div class="card-header text-start mb-3 d-flex align-items-center">
                <a class="btn btn-sm btn-dark rounded-pill me-2"
                    href="/feed/user/{{comment['created_by']}}"><img class="me-2"
                        src='{{ comment["photo"]}}' style="clip-path: circle();" width="25" height="25" />
                    {{ comment["created_by"]}}
                </a>
                <li class="flex-shrink-1">
                    {{ comment["creation_time"] | time }}
                </li>
            </div>
            <div class="card-body text-wrap text-start">
                {{ comment["post"] }}
            </div>
            <li class="card-footer text-end">
                {{ comment["creation_time"] | date }}
            </li>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
