{% extends "layout.html" %}

{% block main %}
<h2 class="text-light mt-5">Settings</h2>
<div class="card-body card text-bg-dark mx-auto w-50">
    <button class="btn btn-dark">Change Password</button>
    <button class="btn btn-dark">Change Profile Picture</button>
    <button class="btn btn-dark">Delete Account</button>
</div>

<div class="modal fade" id="change-profile-modal" tabindex="-1" aria-labelledby="change-profile-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-md-down">
        <div class="modal-content text-bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="change-profile-label">Change Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <img src="{{ session['user_photo'] }}"
                            style="clip-path: circle();" width="70" height="70" id="display_profile_picture" name="photo">
                    </div>
                    <div class="mb-3">
                        <input type="file" class="form-control form-control-lg" name="profile_picture" id="profile_picture"
                            onchange="imageUploaded(event, 'display_profile_picture')" accept="image/*">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" id="change-profile-button" name="submit_button">Create post</button>
                    <button class="btn btn-outline-primary spinner-border hide disabled" role="status"
                        id="change-profile-loader" name="loader_button">
                        <span class="visually-hidden">Loading...</span>
                    </button>
                </div>
        </div>
    </div>
</div>
{% endblock %}
